<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Table Sorting</title>
    <meta charset="utf-8" />
    <link href="styles/reset_css.css" rel="stylesheet" />
    <link href="styles/bootstrap.css" rel="stylesheet" />
    <link href="styles/mystyle.css" rel="stylesheet" />
</head>
<body>
    <content>
        <div class="action_menu">
            <form action="#" method="post" name="search">
                <div class="form-group">
                    <input type="text" placeholder="Фильтр" class="form-control" id="search_input" />
                    <button type="submit" class="btn btn-default" id="search">Искать</button>
                </div>
            </form>
            <a href="#" class="btn btn-default " id="add">Add New</a>
        </div>
        <table class="table table-bordered table-hover" id="table1">
            <thead>
                <tr>
                    <th class="name_col" id="name">Name</th>
                    <th class="price_col" id="price">Price</th>
                    <th class="actions_col">Actions</th>
                </tr>
            </thead>
        </table>
    </content>

    <div class="modal_form" id="modal_form"></div>
    <div class="modal_delete" id="modal_delete">
        <div class="title">
            Are you shure?
        </div>
        <div class="buttons">
            <button type="submit" class="btn btn-default" id="delete" data-id="">Удалить</button>
            <button type="reset" class="btn btn-default" id="cancel">Отмена</button>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>

    <script src="scripts/fake-data.js"></script>
    <script src="scripts/jquery-2.1.3.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/lodash.js"></script>



    <!--Шаблоны-->
    <script id="modalTemplate" type="text/html">

        <div class="close">x</div>

        <form action="#" method="post">
            <div class="form-group">
                <label for="InputName">Name</label>
                <input type="text" class="form-control" id="InputName" placeholder="Введите название" value="<%= product.name %>" />
                <div class="validation_result" id="NameValid"><img src="img/valid.png" alt ="valid" width ="20px" /></div>
            </div>
            <div class="form-group">
                <label for="InputEmail">Supplier Email</label>
                <input type="email" class="form-control" id="InputEmail" placeholder="Введите E-mail" value="<%= product.email %>">
                <div class="validation_result" id="EmailValid"><img src="img/valid.png" alt ="valid" width ="20px" /></div>
            </div>
            <div class="form-group count_input">
                <label for="InputCount">Count</label>
                <input class="form-control" id="InputCount" placeholder="Кол-во" value="<%= product.count %>">
                <div class="validation_result" id="CountValid"><img src="img/valid.png" alt ="valid" width ="20px" /></div>
            </div>
            <div class="form-group">
                <label for="InputPrice">Price</label>
                <input class="form-control" id="InputPrice" placeholder="Цена" value="<%= product.price %>">
                <div class="validation_result" id="PriceValid"><img src="img/valid.png" alt ="valid" width ="20px" /></div>
            </div>
            
            <div class="delivery">
                <div class="delivery_title">
                    Delivery:
                </div>
                <div class="items">
                    <div class="delivery_item">
                        <select class="form-control" id="delivery">
                            <option></option>
                            <option>Страна</option>
                            <option>Город</option>
                        </select>
                    </div>
                    <div class="delivery_module" id="country">
                    <div class="line"></div>
                    <div class="delivery_item center">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="Radio1" value="1" <% if(product.country == 1) { %> checked <% } %> />
                                 Россия
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="Radio2" value="2" <% if(product.country == 2) { %> checked <% } %> />
                                США
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="Radio3" value="3" <% if(product.country == 3) { %> checked <% } %> />
                                Япония
                            </label>
                        </div>
                    </div>
                        </div>
                    <div class="delivery_module" id="city">
                    <div class="line"></div>
                    <div class="delivery_item">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="checkCity" id="check_all" value="check_123" <% if(product.city.length == 3) { %>  checked  <% } %>  />
                                Select All
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="checkCity" id="check_1" value="1" <% if(product.city.indexOf(1)!= -1) { %>  checked  <% } %>  />
                                Саратов
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="checkCity" id="check_2" value="2" <% if(product.city.indexOf(2)!= -1) { %>  checked  <% } %>  />
                                Москва
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="checkCity" id="check_3" value="3" <% if(product.city.indexOf(3)!= -1) { %>  checked  <% } %>  />
                                Питер
                            </label>
                        </div>

                    </div>
                        </div>
                </div>
            </div>
            <button class="btn btn-default " type="submit" id="save">Add/Update</button>
        </form>


    </script>

    <script id="tbodyTemplate" type="text/html">
        <thead>
            <tr>
                <th class="name_col" id="name">Name<span id="span_sort" class="glyphicon glyphicon-triangle-top"></span></th>
                <th class="price_col" id="price">Price<span id="span1" class="glyphicon glyphicon-triangle-top"></span></th>
                <th class="actions_col">Actions</th>
            </tr>
        </thead>
        <tbody id="productList">
            <% _.each(products, function(product) { %>

            <!-- Рендерим в цикле товары -->
            <%= productRowTemplateFunc({ product: product }) %>

            <% }); %>
        </tbody>
    </script>

    <script id="productRowTemplate" type="text/html">
        <tr data-id="<%- product.id %>">
            <td class="name"><div><a><%- product.name %></a></div> <div class="count"><%- product.count %></div></td>
            <td><%- product.price %></td>
            <td><a class="btn btn-default edit">Edit</a><a class="btn btn-default delete">Delete</a></td>
        </tr>
    </script>

    <script src="scripts/templates.js"></script>

</body>
</html>
